/** ---------------[PAGINAS PRINCIPAIS]------------*/
.App {  
  background-image: linear-gradient(#20a3d3 20%,#51e6f7 61%);
}
.App2 {
  background-image: linear-gradient(#99d6eefb 15%,#23acdf 70%,#41494d 25%);  
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  vertical-align: middle;
  left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    padding: 0 !important;
  }
}

.App-header {  
  min-height: 100vh;
  top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/** ---------------[PAGINA DE SCROLL]------------*/
.MundCatalog {
 display: flex;
 overflow-x: scroll;
 width: 100%;
}
.MundList {
  width: 100px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.perfis-list{
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 0px;
}
.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  margin-top: -74px;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 2em;
  will-change: transform, opacity;
  text-align: center;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}
/** ---------------[PAGINA INFO DE PERFIS]------------*/
.simple-trans-main2 > div {
  cursor: pointer;
  position: absolute;
  align-items: center;  
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 400;
  font-size: 2em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}
.perfil{
  width: 30%;
  height: 20%;
  border-radius: 50%;
  }
  .App-perfil {
    display: flow-root;
    text-align: center;
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding-top: 30px;
  }
  .legenda{
    margin-top: 5px;
    margin-bottom: 5px; 
    font-size: 0.9rem; 
  }
  .CardPerfil {
    width: 87%;
    height: 130px;
    display: grid;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
    border-style: none;
    border-radius: 10px;
    background-color: #363636;
    margin-top: 20px;
    margin-left: 20px;
  }
  .photosLayout {
    width: 70px;
    height: 60px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    justify-content: center;
  }
  .photoPerfil {
    max-width: 100%;
    max-height: 100%;
  }
  #qrcode {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    margin-top: 30px;
  }
  #linha {
    width: 100%;
    margin-bottom: -16px;
  }
  #logoMundi {
    width: 100%;
    height: 80%;
  }
  .divMundi {
    display: grid;
    grid-template-columns: 50% 50%
  }
  .mainText{
    margin-top: 6px;
    margin-bottom: 6px;
    flex: 1 1 auto;
    min-width: 0;
    display: grid;
  }
  .mainSpan {
    font-size: 0.9rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 0;
    color: black;
  }
  .mainP{
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    margin: 0;
  }
/** ---------------[PAGINA DE BASE DOS CARDS]------------*/
.CardList {
  margin: auto;
  display: flex;
  outline: 0;
  position: relative;
  justify-content: center;
  padding: 24px;
}
.CardUl {
  width: 100%;
  max-width: 360px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  position: relative;
  list-style: none;
}
.CardLi {
  padding-left: 16px;
  padding-right: 16px;
  width: 90%;
  height: 70px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
  border-style: none;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 7px 10px 1px rgb(15, 14, 14);
}
.CardLi2{
  background-color: rgb(233, 243, 243) !important;
}
.photos{
  min-width: 56px;
  flex-shrink: 0;
}
